* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #111214;
}

svg {
  width: 64px;
  height: 64px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
